<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Poppins:wght@800&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Task Management System</title>
</head>
<!--Reyans-->

<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li>
                    <h1>
                        <a href="index.html">
                            <span class="fa-solid fa-code aria-hidden=" true"></span>
                            <span>TaskIt</span>
                        </a>
                    </h1>
                </li>
                <li>
                    <a href="about.html">
                        About us
                    </a>
                </li>
                <li>
                    <a href="/create-account/signup/orgAccount">
                        Create Account
                    </a>
                </li>
                <li>
                    <!--Reyans-->
                    <a href="/sign-in/login">
                        Log In
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="gradient"></div>

    <div class="intro_container">
        <div class="div_container">
            <div class="flex_container">
                <div class="image_left"></div>
                <article class="intro">
                    <h2 class="welcomeHeading">Connecting Productivity,
                        <span class="welcomeHeadingPart2">
                            Anywhere
                        </span>
                    </h2> <!--Reyans-->
                    <p>
                        Unlock your team's potential with our cutting-edge remote task management platform. Seamlessly
                        collaborate, track progress, and achieve goals from anywhere. Embrace efficiency and
                        productivity
                        like never before. Join us today and experience the future of remote teamwork.
                    </p> <!--Reyans-->
                    <div class="submit_email">
                        <input class="form-control form-control-lg" type="text" placeholder="Enter your email address!"
                            aria-label="Enter Email Address">
                        <button type="button" class="btn btn-primary btn-lg">
                            <span>
                                <b>GET STARTED</b>
                            </span>
                        </button>
                    </div> <!--Reyans-->
                    <p>Already have a TaskIt account? <a href="#createAcc"> Sign in. </a> </p>
                </article>
            </div> <!--Reyans-->
        </div>

        <div class="gradient"></div>
    </div>

    <div class="mainBody_container">
        <div class="bodyHeading">
            <h2><b>Why Rely on TaskIt?</b></h2>
        </div> <!--Reyans-->
        <div class="div_img_container">
            <div class="text">
                <h3 class="teamUnityHeading"><b>Forge Seamless Team Unity</b></h3>
                <p class="blackbox">
                    Discover the art of effortless collaboration with our platform. Unite your team members in a
                    fluid and cohesive workspace that fosters productivity and creativity. Experience a new level of
                    synergy as you work together seamlessly, breaking barriers and achieving collective goals with
                    ease.
                    <a href="https://github.com/Kewlkaka/fitnesstracker">here.</a>
                </p> <!--Reyans-->
            </div>
            <div class="team1img">
                <img src="img/team2.jpg" alt="Screenshot of Fitness Tracker API." />
            </div> <!--Reyans-->
        </div>

        <div class="div_img_container_reverse">
            <div class="text_reverse">
                <h3 class="teamUnityHeading"><b>Potential of Unified Collaboration</b></h3>
                <p class="blackbox">
                    Welcome to our innovative platform, where unified collaboration is the driving force behind your
                    team's success. Seamlessly connect, communicate, and achieve together through our cutting-edge
                    suite of tools. Embrace a cohesive workspace that empowers you to work smarter, faster, and more
                    efficiently, no matter the task at hand
                    <a href="https://github.com/Kewlkaka/wordy-masters">here.</a>
                </p> <!--Reyans-->
            </div>
            <div class="team1img_reverse">
                <img src="img/team1.jpg" alt="Screenshot of Fitness Tracker API." />
            </div>
        </div>

        <div class="div_img_container">
            <div class="text">
                <h3 class="teamUnityHeading"><b>Empower Your Team with Task Management</b></h3>
                <p class="blackbox">
                    Effortlessly create and assign tasks with our intuitive platform. From concept to completion,
                    streamline your workflow by easily generating tasks and assigning them to the right team
                    members. Stay organized, track progress, and ensure accountability as you take control of your
                    projects with confidence.
                    <a href="https://github.com/Kewlkaka/wordy-masters">here.</a>
                </p>
            </div>
            <div class="team1img">
                <img src="img/team3.jpg" alt="Screenshot of Fitness Tracker API." />
            </div>
        </div>
        <div class="gradient"></div>
    </div>

    <div class="stats">
        <div class="organizedStat">
            <h3>
                86%
            </h3>
            <p>of users feel their work has become more organized.</p>
        </div>
        <div class="organizedStat">
            <h3>
                95%
            </h3>
            <p>of users feel their ability to work remotely has improved.</p>
        </div>
        <div class="organizedStat">
            <h3>
                82%
            </h3>
            <p>of users feel they are getting more work done.</p>
        </div>
    </div>

    <div class="customerStories_container">
        <!--
            <div class="testimonyBodyHeader">
            <h2><b>Customer Stories</b></h2>
        </div>
        -->

        <div class="testimony">
            <div class="userImage">
                <img src="img/employeeAliceResized.png" alt="userImage" />
            </div>
            <div class="user_testimony">
                <h2>
                    Alice
                </h2>
                <p>
                    "TaskIt has been a game-changer for our organization. As a project manager, I need a reliable
                    platform to
                    create and assign tasks to team members, and TaskIt delivers on all fronts. Whether we're handling
                    small
                    tasks or tackling complex projects, TaskIt's user-friendly interface makes task management a breeze.
                    From setting deadlines to tracking progress, it keeps our team organized and focused."
                </p>
                <p>Alice, Project Manager</p>
            </div>
        </div>
        <div class="testimony_reverse">
            <div class="userImage_reverse">
                <img src="img/employeeSebastianResized.png" alt="userImage" />
            </div>
            <div class="user_testimony_reverse">
                <h2>
                    Sebastian
                </h2>
                <p>
                    "TaskIt has revolutionized the way our development team handles tasks and project management. As a
                    software engineer, I rely on efficient tools to keep track of my tasks and deadlines, and TaskIt has
                    exceeded my expectations."
                </p>
                <p>Sebastian, Software Engineer</p>
            </div>
        </div>
    </div>
    <script src="/js/navigation.js"></script>

</body>

</html>